@use 'sass:color';
@use '../../abstracts/' as *;

@mixin createButton($background, $text) {
    font-weight: bold;
    padding: $button-padding;
    background-color: $background;
    color: $text;

    border: none;
    border-radius: $button-border-radius;
    text-wrap: nowrap;

    outline-color: $text;
    cursor: pointer;

    &:is(:focus-visible, :hover) {
        background-color: $text;
        color: $clr-text-dark;
    }

    // Padding
    &[data-attachments*='tiny-pad'] {
        padding: $button-padding-tiny;
    }
    
    &[data-attachments*='small-pad'] {
        padding: $button-padding-small;
    }

    &[data-attachments*='big-pad'] {
        padding: $button-padding-big;
    }

    &[data-attachments*='huge-pad'] {
        padding: $button-padding-huge;
    }

    // Border
    &[data-attachments*='capsule'] {
        border-radius: $border-radius-max;
    }
}

.button {
    &[data-variant='primary'] {
        @include createButton($button-primary, $button-primary-text);
    }

    &[data-variant='secondary'] {
        @include createButton($button-secondary, $button-secondary-text);
    }

    &[data-variant='error'] {
        @include createButton($button-error, $button-error-text);
    }
}