@use '../../abstracts/' as *;
@use 'sass:color';

@mixin createInput($background, $text) {
    .input-container__input {
        font-weight: 500;
        background-color: $background;
        
        padding: $input-padding;
        border: $input-border-thickness solid $text;
        border-radius: $input-border-radius;
    
        background-color: $background;
    }
}

.input-container {
    &[data-variant='primary'] {
        @include createInput($input-primary, $input-primary-text);
    }
}