@use '../../abstracts/' as *;
@use 'sass:color';

@mixin createInput($background, $text) {
    .input-container__input {
        font-weight: 500;
        background-color: $background;
        
        padding: $input-padding;
        border: $input-border-thickness solid $text;
        border-radius: $input-border-radius;
    
        background-color: $background;

        outline-color: $text;
    }

    :is(textarea.input-container__input) {
        width: 100%;
        min-height: $text-area-min-height;
        height: $text-area-min-height;
        
        resize: vertical;
        border-radius: $textarea-border-radius;
    }
}

.input-container {
    &[data-variant='primary'] {
        @include createInput($input-primary, $input-primary-text);
    }
}