$colors-dark: (
	primary: (
		400: hsl(223, 90%, 80%),
		transparent-5: hsl(223 90% 80% / 0.05),
		transparent-10: hsl(223 90% 80% / 0.1)
	),
	secondary: (
		400: hsl(0, 0%, 76%),
		transparent-5: hsl(0 0% 76% / 0.05),
	),
	misc: (
		text-muted: hsl(0, 0%, 51%),
		text-dark: hsl(0, 0%, 12%),
		text-error: hsl(0, 60%, 62%),
		youtube-red: hsl(0, 60%, 51%),
		skeleton: hsl(0, 0%, 20%),

		page-background: hsl(0, 0%, 8%),
	),
	card: (
		400: hsl(0, 0%, 12%),
		500: hsl(0, 0%, 16%)
	),
);

$colors-light: ();

$active-theme: $colors-dark;

@each $colorTuple, $colorValues in $active-theme {
	@each $colorName, $colorValue in $colorValues {
		.clr-#{$colorTuple}-#{$colorName} {
			color: $colorValue;
		}
	}
}
