@use 'sass:color';

@use './colors.scss' as *;

// Options
$option-anim-button-overlay: true;

// Colors
$clr-primary-400: map-get(map-get($active-theme, 'primary'), 400);
$clr-primary-transparent-5: map-get(map-get($active-theme, 'primary'), 'transparent-5');
$clr-primary-transparent-10: map-get(map-get($active-theme, 'primary'), 'transparent-10');

$clr-secondary-400: map-get(map-get($active-theme, 'secondary'), 400);
$clr-secondary-transparent-5: map-get(map-get($active-theme, 'secondary'), 'transparent-5');


$clr-text-dark: map-get(map-get($active-theme, 'misc'), 'text-dark');
$clr-text-muted: map-get(map-get($active-theme, 'misc'), 'text-muted');
$clr-page-background: map-get(map-get($active-theme, 'misc'), 'page-background');

$clr-card-400: map-get(map-get($active-theme, 'card'), 400);
$clr-card-500: map-get(map-get($active-theme, 'card'), 500);

// Global
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400;500;600&display=swap');

$global-primary-font: system-ui;
$global-color-scheme: dark;

$global-background: $clr-page-background;
$global-font-size: var(--fs-400);
$global-font-family: $global-primary-font, system-ui;

$border-radius-bevelled: 1rem;
$border-radius-max: 100vmax;

$z-index-10: 999;
$z-index-100: 9999;
$z-index-1000: 99999;
$z-index-10000: 999999;

$global-gap: 1rem;

$global-heading-line-height: 1.6;
$global-paragraph-line-height: 1.2;

$global-accent-color: $clr-primary-400;

$global-outline-thickness: 2px;
$global-outline-offset: 3px;

// Container
$container-padding: 2rem;

$container-max-width: 1100px;
$container-max-width-narrow: 900px;
$container-max-width-wide: 1300px;

// Anchor tag
$a-color: $clr-primary-400;

// Button
$button-primary: $clr-primary-transparent-5;
$button-primary-text: $clr-primary-400;
$button-secondary: $clr-secondary-transparent-5;
$button-secondary-text: $clr-secondary-400;

$button-border-radius: $border-radius-bevelled;

$button-padding: 0.8rem 1rem;
$button-padding-tiny: 0.1rem 0.6rem;
$button-padding-small: 0.25rem 0.8rem;
$button-padding-big: 0.6rem 1.2rem;
$button-padding-huge: 0.85rem 1.4rem;

$button-border-thickness: 2px;
$button-overlay-brightness: 50%;
$button-hologram-transparency: 0.55;

$buttom-anim-rotate-icon-duration: 1s;
$button-anim-overlay-duration: 0.35s;

// Input
$input-primary: $clr-card-500;
$input-primary-text: $clr-text-muted;

$input-padding: 0.475rem 0.8rem;
$input-border-radius: 8px;

$input-box-shadow: 0 0 1px 3px;
$input-border-thickness: 2px;
$input-end-icon-left: 92%;
$input-end-icon-brightness: 55%;
$input-border-color-transition-duration: 244ms;