@use 'sass:color';

@use './colors.scss' as *;

// Options
$option-anim-button-overlay: true;

// Colors
$clr-primary-400: map-get(map-get($active-theme, 'primary'), 400);
$clr-primary-transparent-5: map-get(map-get($active-theme, 'primary'), 'transparent-5');
$clr-primary-transparent-10: map-get(map-get($active-theme, 'primary'), 'transparent-10');

$clr-secondary-400: map-get(map-get($active-theme, 'secondary'), 400);
$clr-secondary-transparent-5: map-get(map-get($active-theme, 'secondary'), 'transparent-5');


$clr-text-dark: map-get(map-get($active-theme, 'misc'), 'text-dark');
$clr-text-muted: map-get(map-get($active-theme, 'misc'), 'text-muted');
$clr-page-background: map-get(map-get($active-theme, 'misc'), 'page-background');
$clr-error: map-get(map-get($active-theme, 'misc'), 'error');
$clr-error-transparent-5: map-get(map-get($active-theme, 'misc'), 'error-transparent-5');
$clr-skeleton: hsl(0 0% 20%);

$clr-card-400: map-get(map-get($active-theme, 'card'), 400);
$clr-card-500: map-get(map-get($active-theme, 'card'), 500);

// Global
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600&display=swap');

$global-primary-font: "Rubik";
$global-color-scheme: dark;

$global-background: $clr-page-background;
$global-font-size: var(--fs-400);
$global-font-family: $global-primary-font, system-ui;

$border-radius-bevelled: 0.75rem;
$border-radius-max: 100vmax;
$border-radius-block: 0.45rem;

$default-shadow: 0px 0px 16px 2px rgba(0 0 0 / 0.3);

$z-index-10: 999;
$z-index-100: 9999;
$z-index-1000: 99999;
$z-index-10000: 999999;

$global-gap: 1rem;

$global-heading-line-height: 1.6;
$global-paragraph-line-height: 1.2;

$global-accent-color: $clr-primary-400;

$global-outline-thickness: 2px;
$global-outline-offset: 3px;

// Container
$container-padding: 2rem;

$container-max-width: 1100px;
$container-max-width-narrow: 900px;
$container-max-width-wide: 1300px;

// Anchor tag
$a-color: $clr-primary-400;

// Button
$button-primary: $clr-primary-transparent-5;
$button-primary-text: $clr-primary-400;

$button-secondary: $clr-secondary-transparent-5;
$button-secondary-text: $clr-secondary-400;

$button-error: $clr-error-transparent-5;
$button-error-text: $clr-error;


$button-border-radius: $border-radius-max;

$button-padding: 0.8rem 1.2rem;
$button-padding-tiny: 0.1rem 0.6rem;
$button-padding-small: 0.45rem 0.8rem;
$button-padding-big: 1rem 1.2rem;
$button-padding-huge: 0.85rem 1.4rem;

$button-border-thickness: 2px;
$button-overlay-brightness: 50%;
$button-hologram-transparency: 0.55;

$buttom-anim-rotate-icon-duration: 1s;
$button-anim-overlay-duration: 0.35s;

// Input
$input-primary: $clr-card-500;
$input-primary-text: $clr-text-muted;

$input-padding: 0.6rem 1.25rem;
$input-border-radius: $border-radius-max;

$input-border-thickness: 2px;

$textarea-border-radius: $border-radius-bevelled;
$text-area-min-height: 4ch;

// Line
$line-height: 2rem;
$line-thickness: 2px;
$line-background: $clr-text-dark;

// Home
$home-grid: max-content auto;

// Card
$card-padding: 1rem 1.25rem;
$card-border-radius: $border-radius-bevelled;
$card-border-thickness: 3px;

// Auth
$auth-max-width: 500px;

// Video preview
$video-preview-grid: repeat(auto-fill, minmax(244px, 1fr));
$video-preview-border-radius: $border-radius-block;

// Profile
$profile-border-radius: $border-radius-max;

$profile_comment: 2rem;
$profile_video-preview: 2.75rem;
$profile_video-tab: 3.15rem;
$profile_channel: 4.55rem;

// Video Tab
$video-tab-grid: 67% auto;
$video-player-border-radius: $border-radius-block;
$video-player-overlay-blur: 64px;
$video-player-overlay-opacity: 0.08;

$video-player-background: $clr-primary-transparent-10;
$video-player-foreground: $clr-primary-400;
$video-player-ratio-bar-width: 144px;
$video-player-ratio-bar-height: 7px;
$video-player-border-radius: $border-radius-bevelled;