@use '../abstracts' as *;

.skeleton {
    position: relative;

    & > * {
        visibility: hidden;
    }

    &::after {
        @include pseudoElement();
        inset: 0;
        background-color: $clr-skeleton;
        z-index: $z-index-100;
    }

    &.skeleton-bevel {
        &::after {
            border-radius: $border-radius-bevelled;
        }
    }

    &.skeleton-capsule {
        &::after {
            border-radius: $border-radius-max;
        }
    }

    &.skeleton-profile {
        &::after {
            border-radius: $profile-border-radius;
        }
    }
}