@use '../abstracts/' as *;

.video-previews-grid {
    grid-template-columns: $video-preview-grid;
}

.video-preview {
    &__thumbnail {
        aspect-ratio: 16 / 9;
        border-radius: $video-preview-border-radius;
    }
}